<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>

        <!-- To render these slides you need Slippy https://github.com/Seldaek/slippy -->

        <title>There is a Bundle for that</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="author" content="Friends of Symfony" />
        <meta name="email" content="friendsofsymfony-dev@googlegroups.com" />
        <meta name="date" content="2012-06-08" />
        <meta name="venue" content="Symfony Live Paris" />

        <!-- Slippy core file and dependencies -->
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="jquery.history.js"></script>
        <script type="text/javascript" src="slippy.js"></script>
        <!-- Slippy structural styles -->
        <link type="text/css" rel="stylesheet" href="slippy.css"/>
        <!-- Slippy theme -->
        <link type="text/css" rel="stylesheet" href="slippy-pure.css"/>
        <!-- Syntax highlighting core file  -->
        <script type="text/javascript" src="highlighter/shCore.js"></script>
        <!-- Syntax highlighting brushes, remove those you don't need -->
        <script type="text/javascript" src="highlighter/shBrushPhp.js"></script>
        <script type="text/javascript" src="highlighter/shBrushPlain.js"></script>
        <script type="text/javascript" src="highlighter/shBrushXml.js"></script>
        <!-- Syntax highlighting styles-->
        <link type="text/css" rel="stylesheet" href="highlighter/shCore.css"/>
        <link type="text/css" rel="stylesheet" href="highlighter/shThemeEclipse.css"/>

        <style type="text/css">
            body > * {
                font-size: 1.2em;
            }

            body {
                background: #fff;
            }

            div.syntaxhighlighter {
                background: #aaa !important;
            }

            span.file {
                font-size: 0.8em;
                color: #f00;
                float: right;
                margin: -.2em .5em 0 0;
            }

            .smallcode {
                font-size: 0.8em;
            }

            strong {
                color: #662222;
            }
        </style>
        <!-- Slippy init code -->
        <script type="text/javascript">
            $(function() {
                $(".slide").slippy({
                });
                SyntaxHighlighter.all();
            });
        </script>
    </head>

    <body>
        <div class="slide" style="text-align:center">
            <h2>There is a Bundle for that</h2>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>Lukas Kahwe Smith</h2>

            <ul>
                <li>PEAR Group founder</li>
                <li>PHP 5.3 co-release manager</li>
                <li>Symfony2, Doctrine, PHPCR, Jackalope, Travis-CI ..</li>
                <li>unofficial liason between Symfony2 and Drupal</li>
                <li><a href="http://pooteeweet.org">http://pooteeweet.org</a> | <a href="http://twitter.com/lsmith">@lsmith</a></li>
            </ul>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>Christophe Coevoet</h2>

            <ul>
                <li>Symfony2, Doctrine, Monolog, FOSUserBundle ..</li>
                <li>Code reviewer on many libraries</li>
                <li><a href="http://twitter.com/Stof70">@Stof70</a></li>
            </ul>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>What is a Bundle?</h2>
            <ul>
                <li>Bundles are first class citizens</li>
                <li>As a matter of fact the Symfony2 framework is a Bundle too!</li>
                <li>The minimal glue code to integrate a library with Symfony2 and/or a set of Controllers/CLI Commands</li>
            </ul>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>What can Bundle do?</h2>
            <ul>
                <li>A Bundle can provide Controllers</li>
                <li>A Bundle can provide Commands</li>
                <li>A Bundle can provide entities/documents</li>
                <li>A Bundle can provide services</li>
                <li>A Bundle can provide assets (js, css, images)</li>
            </ul>
        </div>

        <div class="slide">
            <h2>Unofficial Bundle index: knpbundles.com</h2>
            <ul>
                <li>Automatically indexes code that looks like a Bundle</li>
                <li>Generates a <a href="http://knpbundles.com/about/scoring">point value</a> based on some simple metrics:
                    <ul>
                        <li>1 point for each followers on GitHub.</li>
                        <li>5 points if your README is more than 300 chars.</li>
                        <li>5 points if you use Travis CI.</li>
                        <li>5 more points if your Travis build status is actually ok ;)</li>
                        <li>5 points if you provide a composer package.</li>
                        <li>5 points per person recommending the bundle on KnpBundles.</li>
                        <li>Small boost for bundles with commits in the past 30 days.</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="slide">
            <h2>Unofficial Bundle index: knpbundles.com</h2>

            <h2><img src="knpbundles.png" alt="KnpBundles"/></h2>
        </div>

        <div class="slide">
            <h1>PLEASE PLEASE PLEASE check knpbundles.com before you write a new Bundle!</h1>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>Bundles best practices: <a href="http://symfony.com/doc/current/cookbook/bundles/best_practices.html">Bundle dir structure</a></h2>
            <ul>
                <li>AcmeMyBundle.php</li>
                <li>Command
                    <ul>
                        <li>MyCommand.php</li>
                    </ul>
                </li>
                <li>Controller
                    <ul>
                        <li>MyController.php</li>
                    </ul>
                </li>
                <li>Entity/Document
                    <ul>
                        <li>Foo.php</li>
                        <li>FooRepository.php (*)</li>
                    </ul>
                </li>
                <li>Resources
                    <ul>
                        <li>config</li>
                        <li>doc</li>
                        <li>meta</li>
                        <li>public</li>
                        <li>views</li>
                    </ul>
                </li>
                <li>...</li>
            </ul>
            <br />
            <h4>(*) Some <a href="http://groups.google.com/group/symfony-devs/browse_frm/thread/40602f04e931ac9/d1f6520aa59253d4">discussions</a> about changing this.</h4>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>Bundles best practices: <a href="http://symfony.com/doc/current/cookbook/bundles/extension.html">DIC configuration</a></h2>
            <ul>
                <li>Prefix all services with the Bundle alias (ie. AcmeMyExtension::getAlias())</li>
                <li>Explicitly handle any configurable parameters</li>
                <li>Use compiler passes to interact with other Bundles services</li>
                <li>DependencyInjection
                    <ul>
                        <li>Compiler
                            <ul>
                                <li>MyCompilerPass.php</li>
                            </ul>
                        </li>
                        <li>Configuration.php</li>
                        <li>AcmeMyExtension.php</li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>Bundles best practices: <a href="http://symfony.com/doc/current/cookbook/bundles/extension.html">DIC configuration</a></h2>
            <pre class="brush: php">
use Symfony\C..\D..I..\ContainerBuilder as CB;
use Symfony\C..\Config\FileLocator;
use Symfony\C..\HttpKernel\D..I..\Extension;
use Symfony\..\D..I..\Loader\XmlFileLoader;

class AcmeMyExtension extends Extension
{
    public function load(array $configs, CB $dic)
    {
        $configuration = new Configuration();
        $config = $this->processConfiguration(
            $configuration, $configs
        );

        $dir = __DIR__ . '/../Resources/config';
        $locator = new FileLocator($dir);
        $loader = new XmlFileLoader($dic, $locator);
        $loader->load('services.xml');

        foreach ($config as $key => $val) {
            $dic->setParameter('acme_my.'.$key, $val);
        }
    }
}
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>Bundles best practices: Configuration class</h2>
            <ul>
                <li>Merges and validates the configuration of the bundle</li>
                <li>As of 2.1 there is "app/console config:dump-reference"</li>
                <li><a href="http://www.slideshare.net/denderello/what-mom-never-told-you-about-bundle-configurations-symfony-live-paris-2012">
                    @denderello talked about it yesterday
                </a></li>
            </ul>
            <pre class="brush: php">
use Symfony\C..\Config\Definition as Def;

class Configuration implements Def\ConfigurationInterface
{
    public function getConfigTreeBuilder()
    {
        $treeBuilder = new Def\Builder\TreeBuilder();

        $treeBuilder->root('acme_my')
        ->children()
            ->scalarNode('host')
                ->isRequired()->cannotBeEmpty()->end()
            ->scalarNode('port')
                ->defaultValue(2000)->end()
            ->scalarNode('timeout')
                ->defaultValue(30000)->end()
        ->end()
        ;

        return $treeBuilder;
    }
}
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>Bundles best practices: <a href="http://getcomposer.org/">Composer</a></h2>
            <ul>
                <li>Default dependency management as of Symfony 2.1</li>
                <li>Bundles should be registered on <a href="http://packagist.org/">Packagist</a></li>
                <li>Make sure to enable the "Packagist" commit hook</li>
            </ul>
            <pre class="brush: plain">
{
    "name": "acme/my-bundle",
    "type": "symfony-bundle",
    "description": "This Bundle is an example",
    "license": "MIT",
    "authors": [
        {
            "name": "Duffy Duck",
            "email": "diffy@acme.com"
        }
    ],
    "require": {
        "php":                      ">=5.3.3",
        "symfony/framework-bundle": ">=2.0,<2.2-dev",
    },
    "autoload": {
        "psr-0": { "Acme\\MyBundle": "" }
    },
    "target-dir": "Acme/MyBundle"
}
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>Bundles best practices: Tests</h2>
            <ul>
                <li>JMSCommandBundle can generate Kernels for functional tests</li>
                <li>phpunit.xml.dist</li>
                <li>Tests
                    <ul>
                        <li>Controller
                            <ul>
                                <li>MyControllerTest.php</li>
                            </ul>
                        </li>
                        <li>Functional
                            <ul>
                                <li>HomepageTest.php</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <pre class="brush: php">
use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;

class HomepageTest extends WebTestCase
{
    public function testContents()
    {
        $client = $this->createClient();
        $crawler = $client->request('GET', '/');
        $s = $client->getResponse()->getStatusCode();
        $this->assertEquals(200, $s);

        $crawler->filter('h1:contains(Homepage)');
        $this->assertCount(1, $count);
        $crawler->filter('ul.menu_main li')
        $this->assertCount(13, $count);
    }
}
            </pre>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>Bundles best practices: <a href="http://travis-ci.org/">Travis-CI</a></h2>
            <ul>
                <li>Just create a ".travis.yml" file</li>
                <li>Enable github hook to run tests automatically</li>
                <li>Test against multiple PHP versions, library versions and DBs</li>
            </ul>
            <pre class="brush: plain">
language: php

php:
    - 5.3
    - 5.4

env:
    - DB=mysql
    - DB=pgsql

before_script:
- wget -nc http://getcomposer.org/composer.phar
- php composer.phar install --dev
- tests/${DB}_setup.sh

script: phpunit --coverage-text

notifications: [ email: [ travis-ci@liip.ch ] ]
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>How to extend a Bundle: overriding templates</h2>
            <ul>
                <li>app/Resources/FOSUserBundle/views/Security/login.html.twig</li>
                <li>Or create a child bundle</li>
                <li>src/Acme/MyBundle/Resources/views/Security/login.html.twig</li>
            </ul>
            <pre class="brush: php">
use Symfony\Component\HttpKernel\Bundle\Bundle;

class MyBundle extends Bundle
{
    public function getParent()
    {
        return 'FOSUserBundle';
    }
}
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>How to extend a Bundle: overriding controllers</h2>
            <ul>
                <li>Create a child bundle</li>
                <li>src/Acme/MyBundle/Controller/SecurityController.php</li>
                <li>Remember to define all actions needed by the routing</li>
            </ul>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>How to fix a bug and submit a PR</h2>
            <ul>
                <li><a href="https://github.com/signup/free">Setup a github account</a></li>
                <li>To fix a typo browse to the file and click edit</li>
                <li>Github will then fork the repository and create a pull request for you all in one single step</li>
            </ul>

            <br />

            <h2><img src="edit_on_github.png" alt="Edit on Github"/></h2>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>How to fix a bug and submit a PR</h2>
            <ul>
                <li><a href="https://github.com/signup/free">Setup a github account</a></li>
                <li>Branch, commit, fork, change your remote, push, open PR</li>
                <li>Rember to follow the <a href="http://symfony.com/doc/current/contributing/index.html">Symfony2 coding guide</a></li>
            </ul>

            <br/>

            <h2><img src="fork.png" alt="Fork on Github and submit a Pull Request"/></h2>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>FOSUserBundle</h2>
            <ul>
                <li>Provides user management for your project</li>
                <li>Integrates with SecurityBundlet</li>
                <li>Controllers for registration, password resetting...</li>
                <li>Supports Doctrine ORM, MongoDB ODM, CouchDB ODM, Propel</li>
                <li>... and add your own storage layer</li>
            </ul>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>JMSSerializerBundle</h2>
            <ul>
                <li>Expands on the core Serializer</li>
                <li>Implements visitor pattern to give more flexibility</li>
                <li>More flexible handling to return different structures for JSON and XML</li>
                <li>Most effective when (de)serializing from/to Object Graphs</li>
                <li>Additional features like versioning, group based serialization rule sets etc.</li>
            </ul>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>JMSSerializerBundle</h2>
            <pre class="brush: php">
use JMS\SerializerBundle\Annotation as Serializer;
use JMS\SerializerBundle\Annotation\XmlList;

use Doctrine\Common\Collections\Collection;

/**
 * @Serializer\XmlRoot("response")
 */
class Response
{
    /**
     * @var Collection
     * @XmlList(inline = true, entry = "article")
     */
    protected $articles;

    protected $page;

    public function __construct(Collection $a, $page)
    {
        $this->articles = $a;
        $this->page = $page;
    }
}
            </pre>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>FOSRestBundle</h2>
            <ul>
                <li>Provides a set of services and listeners to help in building REST APIs</li>
                <ul>
                    <li>View layer using JMSSerializerBundle to support HTML, XML, JSON from a single Controller action</li>
                    <li>Automatic generation of routes from Controller actions</li>
                    <li>Accept header negotiation</li>
                    <li>Request body decoding</li>
                    <li>GET parameter parsing and validation</li>
                </ul>
            </ul>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>FOSRestBundle</h2>
            <pre class="brush: php">
use Acme\MyBundle\Response;

class RestController extends Controller
{
    /**
     * Get the list of articles
     * liip_hello_rest_get_articles
     * /liip/hello/rest/articles.{_format} (GET)
     *
     * @param string $page page number
     * @return array data
     *
     * @View()
     * @QueryParam(name="page", requirements="\d+", default="1")
     * @ApiDoc()
     */
    public function getArticlesAction($page)
    {
        $articles = array('bim', 'bam', 'bingo');

        return new Response($articles, $page);
    }
}
            </pre>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>FOSRestBundle</h2>
            <pre class="brush: plain">
                <html>
                    <body>
                        <div>
                            <div>bim</div>
                            <div>bam</div>
                            <div>bingo</div>
                        </div>
                        <div>page: 2</div>
                    </body>
                </html>

                <response>
                    <article>bim</article>
                    <article>bam</article>
                    <article>bingo</article>
                    <page>2</page>
                </response>

                {
                  "articles": [
                    "bim",
                    "bam",
                    "bingo"
                  ],
                  "page": "2"
                }
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>JMSSecurityExtraBundle</h2>
            <ul>
                <li>Extra features on top of the Security component</li>
                <li>Annotation-based security checks</li>
                <li>Expression-based permissions
            </ul>
        </div>

        <div class="slide">
            <h2>JMSSecurityExtraBundle</h2>
            <pre class="brush: php">
use Acme\MyBundle\ArticleCollection;

class RestController extends Controller
{
    /**
     * Get the list of articles
     *
     * @return array data
     *
     * @View()
     * @Secure(roles="ROLE_ADMIN")
     */
    public function getArticlesAction()
    {
        /*
        $security = $this->get('security.context');
        if ($security->isGranted('ROLE_ADMIN')) {
            throw new AccessDeniedException();
        }
        */

        return array('bim', 'bam', 'bingo');
    }
}
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>StofDoctrineExtensionBundle</h2>
            <ul>
                <li>Configures the <a href="https://github.com/l3pp4rd/DoctrineExtensions">Gedmo behavioral extensions</a></li>
                <li>Timestampable, translatable, sluggable, tree...</li>
            </ul>

            <pre class="brush: php">
use Doctrine\ORM\Mapping as ORM;
use Gedmo\Mapping\Annotation as Gedmo;

/** @ORM\Entity() */
class Post
{
    /**
     * @ORM\Column(type="datetime")
     * @Gedmo\Timestampable(on="create")
     */
    protected $createdAt;

    /**
     * @ORM\Column(type="datetime")
     * @Gedmo\Timestampable(on="update")
     */
    protected $updatedAt;
}
            </pre>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>LiipImagineBundle</h2>
            <ul>
                <li>Integration with the imagine image manipilation library</li>
                <li>Define filter groups to dynamically apply to images</li>
                <li>Automatically defines routes for each filter groups</li>
                <li>Optional pluggable cacheing</li>
                <li>Define custom loaders (filesystem, database etc.)</li>
            </ul>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>LiipImagineBundle</h2>
            <pre class="brush: plain">
{% extends "LiipHelloBundle::layout.html.twig" %}

{% block content %}

<div>
  original:<br>
  <img src="{{ '/bundles/hello/images/test.jpg' }}"/>
</div>

<div>
  LiipImagineBundle in action:<br>
  <img src="{{ '/bundles/hello/images/test.png'
    | imagine_filter('my_thumb') }}"/>
</div>

<div>
  LiipImagineBundle in action:<br>
  <img src="{{ '/bundles/hello/images/test.png'
    | imagine_filter('my_thumb', true) }}"/>
</div>

{% endblock content %}
            </pre>
        </div>

        <!-- Stof -->
        <div class="slide">
            <h2>KnpMenuBundle</h2>
            <ul>
                <li>Build your menus in an object-oriented way</li>
                <li>Menu represented as a tree of objects</li>
                <li>Renders the menu with several renderers:
                <ul>
                    <li>"standard" menu</li>
                    <li>breadcrumb</li>
                    <li>...)</li>
                </ul>
                </li>
                <li>Pluggable data providers</li>
            </ul>
        </div>

        <div class="slide">
            <div class="vcenter">
                <h2>Demo Time</h2>

                <p>.. and what are you looking for?</p>

                <p>.. tell us what feature you need in your next project and lets see if we can find a Bundle for you ..</p>
            </div>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>Github projects</h2>
            <ul>
                <li><a href="http://github.com/friendsOfSymfony/FOSUserBundle">FOSUserBundle</a></li>
                <li><a href="http://github.com/schmittjoh/JMSSerializerBundle">JMSSerializerBundle</a></li>
                <li><a href="http://github.com/friendsOfSymfony/FOSRestBundle">FOSRestBundle</a></li>
                <li><a href="http://github.com/schmittjoh/JMSSecurityExtraBundle">JMSSecurityExtraBundle</a></li>
                <li><a href="http://github.com/stof/StofDoctrineExtensionBundle">StofDoctrineExtensionBundle</a></li>
                <li><a href="http://github.com/liip/LiipImagineBundle">LiipImagineBundle</a></li>
                <li><a href="http://github.com/knplabs/KnpMenuBundle">KnpMenuBundle</a></li>
            </ul>
        </div>

        <!-- lsmith77 -->
        <div class="slide">
            <h2>Resources</h2>
            <ul>
                <li><a href="http://symfony.com/doc/current/bundles/index.html">Standard Edition bundles</a></li>
                <li><a href="http://symfony.com/doc/current/cookbook/bundles/index.html">Bundle cookbooks</a></li>
                <li><a href="irc://freenode/#symfony">#symfony IRC</a></li>
                <li><a href="http://knpbundles.com">http://knpbundles.com</a></li>
                <li><a href="http://friendsofsymfony.github.com/">FOS github organization</a></li>
            </ul>
        </div>

        <div class="layout" data-name="default">
            <div class="vcenter">
                <content></content>
            </div>
        </div>

        <div class="footer">
            <span class="right"><a href="irc://freenode/#symfony">#symfony IRC</a></span>
            <span class="left"><a href="http://friendsofsymfony.github.com/">friendsofsymfony.github.com/</a></span>
            <hr class="defloat" />
        </div>
    </body>
</html>
