<!DOCTYPE html>
<html>
    <head>
        <title>There is a Bundle for that | Lukas Kahwe Smith</title>
        <link rel="stylesheet" href="css/sfcon2k13/reveal.min.css">
        <link rel="stylesheet" href="css/sfcon2k13/serif-theme.css" id="theme">
        <link rel="stylesheet" href="css/sfcon2k13/zenburn.css">
        <link rel="stylesheet" href="css/sfcon2k13/pageNumbers.css">
        <link rel="stylesheet" href="css/sfcon2k13/custom.css">
        <script>
            document.write('<link rel="stylesheet" href="css/sfcon2k13/' +
                    (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') +
                    '.css" type="text/css" media="print">'
            );
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h1 class="title">There is a Bundle for that</h1>
                    <em>Lukas Kahwe Smith - October 31th, 2014</em>
                </section>

                <section>

                    <section>
                        <h1 class="title">Bundle 101</h1>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## What is a Bundle?

                            * Bundles are first class citizens
                            * As a matter of fact the Symfony2 framework is a Bundle too!
                            * The minimal glue code to integrate a library with Symfony2 and/or a set of Controllers/CLI Commands
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## What can Bundle do?

                            * A Bundle can provide Controllers
                            * A Bundle can provide Commands
                            * A Bundle can provide entities/documents
                            * A Bundle can provide services
                            * A Bundle can provide assets (js, css, images)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Where do I find Bundles?

                            * Unofficial Bundle index: knpbundles.com
                            * Automatically indexes code that looks like a Bundle
                            * Generates a [point value](http://knpbundles.com/about/scoring) based on some simple metrics
                                * 1 point for each followers on GitHub.
                                * 5 points if your README is more than 300 chars.
                                * 5 points if you use Travis CI.
                                * 5 more points if your Travis build status is actually ok ;)
                                * 5 points if you provide a composer package.
                                * 5 points per person recommending the bundle on KnpBundles.
                                * Small boost for bundles with commits in the past 30 days.
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## knpbundles.com

                            ![](images/bundleforthat/knpbundles.png)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## PLEASE PLEASE PLEASE check knpbundles.com before you write a new Bundle!
                        </script>
                    </section>

                </section>

                <section>

                    <section>
                        <h1 class="title">Bundles best practices</h1>

                        <h2>(for reusable Bundles)</h2>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Directory Structure

                            ![](images/bundleforthat/dir_structure.png)

                            [cookbook/bundles/best_practices.html](http://symfony.com/doc/current/cookbook/bundles/best_practices.html#directory-structure)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Semantic configuration

                            * Prefix all services with the Bundle alias, ie. ``AcmeMyExtension::getAlias()``
                            * Explicitly handle any configurable parameters
                            * Define a Configuration class for the semantic configuration
                            * Use compiler passes to interact with other Bundles services

                            <br>

                            [cookbook/bundles/extension.html](http://symfony.com/doc/current/cookbook/bundles/extension.html)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## DIC extension class

                            ```
                            use Symfony\C..\D..I..\ContainerBuilder as CB;
                            use Symfony\C..\Config\FileLocator;
                            use Symfony\C..\HttpKernel\D..I..\Extension;
                            use Symfony\..\D..I..\Loader\XmlFileLoader;

                            class AcmeMyExtension extends Extension
                            {
                                public function load(array $configs, CB $dic)
                                {
                                    $configuration = new Configuration();
                                    $config = $this->processConfiguration(
                                        $configuration, $configs
                                    );

                                    $dir = __DIR__ . '/../Resources/config';
                                    $locator = new FileLocator($dir);
                                    $loader = new XmlFileLoader($dic, $locator);
                                    $loader->load('services.xml');

                                    foreach ($config as $key => $val) {
                                        $dic->setParameter('acme_my.'.$key, $val);
                                    }
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## DIC configuration class

                            ```
                            use Symfony\C..\Config\Definition as Def;

                            class Configuration implements Def\ConfigurationInterface
                            {
                                public function getConfigTreeBuilder()
                                {
                                    $treeBuilder = new Def\Builder\TreeBuilder();

                                    $treeBuilder->root('acme_my')
                                    ->children()
                                        ->scalarNode('host')
                                            ->isRequired()->cannotBeEmpty()->end()
                                        ->scalarNode('port')
                                            ->defaultValue(2000)->end()
                                        ->scalarNode('timeout')
                                            ->defaultValue(30000)->end()
                                    ->end()
                                    ;

                                    return $treeBuilder;
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Composer

                            * Default dependency management as of Symfony 2.1
                            * Bundles should be registered on[Packagist](http://packagist.org/)
                            * Use [Satis](https://github.com/composer/satis/) or [Totan Proxy](https://toranproxy.com) to create your own composer index
                            * Alternatively use ``repositories`` directive to make composer aware of specific (closed source) repositories
                            * If you use github make sure to enable the "Packagist" commit hook

                            <br>

                            [getcomposer.org](http://getcomposer.org)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Composer.json example

                            ```
                            {
                                "name": "acme/my-bundle",
                                "type": "symfony-bundle",
                                "description": "This Bundle is an example",
                                "license": "MIT",
                                "authors": [
                                    {
                                        "name": "Duffy Duck",
                                        "email": "diffy@acme.com"
                                    }
                                ],
                                "require": {
                                    "php":                      ">=5.3.3",
                                    "symfony/framework-bundle": "~2.3",
                                },
                                "autoload": {
                                    "psr-4": { "Acme\\MyBundle": "" }
                                },
                                "extra": {
                                    "branch-alias": {
                                        "dev-master": "1.1-dev"
                                    }
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Composer

                            * Default dependency management as of Symfony 2.1
                            * Bundles should be registered on[Packagist](http://packagist.org/)
                            * Use [Satis](https://github.com/composer/satis/) or [Totan Proxy](https://toranproxy.com) to create your own composer index
                            * Alternatively use ``repositories`` directive to make composer aware of specific (closed source) repositories
                            * If you use github make sure to enable the "Packagist" commit hook

                            <br>

                            [getcomposer.org](http://getcomposer.org)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## Testing

                        * [JMSCommandBundle](https://github.com/schmittjoh/JMSCommandBundle) generates Kernels for functional tests
                        * Alternatively use the [CMF Testing component](http://symfony.com/doc/master/cmf/components/testing.html)
                        * Functional tests are a very quick way to catch BC breaks

                        <br>

                        * Unit tests are for libs, which should not be part of Bundles
                        * Matthias has created a libs to [unit tests Configuration classes](https://github.com/matthiasnoback/SymfonyDependencyInjectionTest)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Functional Testing

                            ```
                            use Symfony\Bundle\FrameworkBundle\Test\WebTestCase;

                            class HomepageTest extends WebTestCase
                            {
                                public function testContents()
                                {
                                    $client = $this->createClient();
                                    $crawler = $client->request('GET', '/');
                                    $s = $client->getResponse()->getStatusCode();
                                    $this->assertEquals(200, $s);

                                    $crawler->filter('h1:contains(Homepage)');
                                    $this->assertCount(1, $count);
                                    $crawler->filter('ul.menu_main li')
                                    $this->assertCount(13, $count);
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## Travis-CI

                        * Just create a ".travis.yml" file
                        * Enable github hook to run tests automatically
                        * Test against multiple DBs and PHP/library versions
                        * Enables contributors to easily also run the tests
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                        ## Travis-CI .travis.yml

                        ```
                        language: php

                        php: [ 5.4, 5.5, 5.6, hhvm]

                        env: [ SYMFONY_VERSION=2.5.* ]

                        matrix:
                            include:
                            - php: 5.5
                              env: SYMFONY_VERSION=2.3.*
                            - php: 5.5
                              env: SYMFONY_VERSION=2.6.*

                        before_script:
                            - composer require symfony/symfony:${SYMFONY_VERSION} --prefer-source

                        script: phpunit --coverage-text
                        ```
                        </script>
                    </section>

                </section>

                <section>

                    <section>
                        <h1 class="title">How to use a 3rd party Bundle</h1>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Overriding templates/controllers

                            * Use the app Resource dir for template override only:
                            <br>``app/Resources/FOSUserBundle/views/Security/login.html.twig``
                            * Create a child bundle when also overriding controllers:
                            <br>``src/Acme/MyBundle/Resources/views/Security/login.html.twig``
                            <br>``src/Acme/MyBundle/Controller/SecurityController.php``
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Child Bundle

                            ```
                            use Symfony\Component\HttpKernel\Bundle\Bundle;

                            class MyBundle extends Bundle
                            {
                            public function getParent()
                            {
                            return 'FOSUserBundle';
                            }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## How to fix a typo

                            * Setup a [Github account](https://github.com/signup/free)
                            * To fix a typo browse to the file and click edit
                            * Github will then fork the repository and create a pull request for you all in one single step

                            ![](images/bundleforthat/edit_on_github.png)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## How to fix a bug

                            * Setup a [Github account](https://github.com/signup/free)
                            * Branch, commit, fork, change your remote, push, open PR
                            * Remember to follow the [Symfony2 coding guide](http://symfony.com/doc/current/contributing/index.html)

                            ![](images/bundleforthat/fork.png)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Temporary patch a composer package

                            * For example patching the 1.2.0 release of SomeSuperBundle
                            * Fork into your own github account ("mygithub")
                            * Apply the patch into a new branch ("add-rocknroll")
                            * Push the branch to your fork
                            * Open a PR but in the mean time already use the patch

                            ```
                            {
                                "repositories": [
                                    {
                                        "type": "vcs",
                                        "url": "https://github.com/mygithub/SomeSuperBundle"
                                    }
                                ],
                                "require" : {
                                    "php": ">=5.3.3",
                                    "symfony/symfony": "~2.3",
                                    "some/super-bundle": "dev-add-rocknroll as 1.2.0"
                                }
                            }

                            [composer docs](https://getcomposer.org/doc/05-repositories.md#loading-a-package-from-a-vcs-repository)
                            ```
                        </script>
                    </section>

                </section>

                <section>

                    <section>
                        <h1 class="title">Popular Bundles</h1>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Evaluation check list

                            * Search knpbundles.com
                            * Check the license
                            * Check the README.md / documentation
                            * Check the Bundle structure
                            * Check Tests and travis-ci integration
                            * Check the code
                            * Try it out ..
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## FOSUserBundle

                            * Provides user management for your project
                            * Integrates with SecurityBundle
                            * Controllers for registration, password resetting...
                            * Supports Doctrine ORM, MongoDB ODM, CouchDB ODM, Propel ... and add your own storage layer
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## JMSSecurityExtraBundle

                            * Extra features on top of the Security component
                            * Annotation-based security checks
                            * Expression-based permissions
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## JMSSecurityExtraBundle

                            ```
                            use Symfony\Bundle\FrameworkBundle\Controller\Controller;
                            use Symfony\Component\HttpFoundation\Response;

                            class MyController extends Controller
                            {
                                /**
                                 * Get the list of articles
                                 *
                                 * @return array data
                                 *
                                 * @Secure(roles="ROLE_ADMIN")
                                 */
                                public function getArticlesAction()
                                {
                                    /*
                                    $security = $this->get('security.context');
                                    if ($security->isGranted('ROLE_ADMIN')) {
                                        throw new AccessDeniedException();
                                    }
                                    */

                                    $data = json_encode(array('bim', 'bam', 'bingo'));
                                    return new Response($data);
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## JMSSerializerBundle

                            * Expands on the core Serializer
                            * Implements visitor pattern to give more flexibility
                            * More flexible handling to return different structures for JSON and XML
                            * Most effective when (de)serializing from/to Object Graphs
                            * Additional features like versioning, group based serialization rule sets etc.
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## JMSSerializerBundle

                            ```
                            use JMS\SerializerBundle\Annotation as Serializer;
                            use JMS\SerializerBundle\Annotation\XmlList;

                            use Doctrine\Common\Collections\Collection;

                            /**
                             * @Serializer\XmlRoot("response")
                             */
                            class ArticleResponse
                            {
                                /**
                                 * @var Collection
                                 * @XmlList(inline = true, entry = "article")
                                 */
                                protected $articles;

                                protected $page;

                                public function __construct(Collection $a, $page)
                                {
                                    $this->articles = $a;
                                    $this->page = $page;
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## FOSRestBundle

                            * Provides a set of services and listeners to help in building REST APIs
                            * View layer using JMSSerializerBundle to support HTML, XML, JSON from a single Controller action
                            * Automatic generation of routes from Controller actions
                            * Accept header negotiation
                            * Request body decoding
                            * GET parameter parsing and validation
                            </script>
                        </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## FOSRestBundle

                            ```
                            use Acme\MyBundle\ArticleResponse;

                            class RestController
                            {
                              /**
                                 * Get the list of articles
                                 * route name: liip_hello_rest_get_articles
                                 * pattern: /liip/hello/rest/articles.{_format}
                                 * http method requirement: GET
                                 *
                                 * @param string $page page number
                                 * @return array data
                                 *
                                 * @View()
                                 * @QueryParam(name="page",
                                 *             requirements="\d+",
                                 *             default="1")
                                 * @ApiDoc()
                                 */
                                public function getArticlesAction($page)
                                {
                                    $articles = array('bim', 'bam', 'bingo');

                                    return new ArticleResponse($articles, $page);
                                }
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## FOSRestBundle

                            ```
                            <html>
                                <body>
                                    <div>
                                        <div>bim</div>
                                        <div>bam</div>
                                        <div>bingo</div>
                                    </div>
                                    <div>page: 2</div>
                                </body>
                            </html>

                            <response>
                                <article>bim</article>
                                <article>bam</article>
                                <article>bingo</article>
                                <page>2</page>
                            </response>

                            {
                              "articles": [
                                "bim",
                                "bam",
                                "bingo"
                              ],
                              "page": "2"
                            }
                            ```
                        </script>
                    </section>


                    <section data-markdown>
                        <script type="text/template">
                            ## NelmioApiDocBundle
                            * Generates REST API documentation based on routing data
                            * Integrated with FOSRestBundle and JMSSerializerBundle
                            * Provides a sandbox to try out REST API calls inside the UI

                            <br>

                            ![](images/bundleforthat/nelmio_api_doc_bundle.png)
                        </script>
                    </section>


                    <section data-markdown>
                        <script type="text/template">
                            ### StofDoctrineExtensionBundle

                            * Configures the [Gedmo behavioral extensions](https://github.com/l3pp4rd/DoctrineExtensions)
                            * Timestampable, translatable, sluggable, tree...

                            ```
                            use Doctrine\ORM\Mapping as ORM;
                            use Gedmo\Mapping\Annotation as Gedmo;

                            /** @ORM\Entity() */
                            class Post
                            {
                                /**
                                 * @ORM\Column(type="datetime")
                                 * @Gedmo\Timestampable(on="create")
                                 */
                                protected $createdAt;

                                /**
                                 * @ORM\Column(type="datetime")
                                 * @Gedmo\Timestampable(on="update")
                                 */
                                protected $updatedAt;
                            }
                            ```
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## KnpMenuBundle

                            * Build your menus in an object-oriented way
                            * Menu represented as a tree of objects
                            * Renders the menu with several renderers:
                                * "standard" menu
                                * breadcrumb
                                * ...

                            * Pluggable data providers
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## LiipImagineBundle

                            * Integration with the imagine image manipulation library
                            * Define filter groups to dynamically apply to images
                            * Automatically defines routes for each filter groups
                            * Optional pluggable caching
                            * Define custom loaders (filesystem, database etc.)
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## LiipImagineBundle

                            ```
                            {% extends "LiipHelloBundle::layout.html.twig" %}

                            {% block content %}

                            <div>
                              original:<br>
                              <img src="{{ '/bundles/hello/images/test.jpg' }}"/>
                            </div>

                            <div>
                              LiipImagineBundle in action:<br>
                              <img src="{{ '/bundles/hello/images/test.png'
                                | imagine_filter('my_thumb') }}"/>
                            </div>

                            <div>
                              LiipImagineBundle in action:<br>
                              <img src="{{ '/bundles/hello/images/test.png'
                                | imagine_filter('my_thumb', true) }}"/>
                            </div>

                            {% endblock content %}
                            ```
                        </script>
                    </section>

                </section>

                <section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Demo Time

                            <p>.. and what are you looking for?</p>

                            <p>.. what feature you need in your next project and lets see if we can find a Bundle for you ..</p>
                        </script>
                    </section>

                </section>

                <section>

                    <section data-markdown>
                        <script type="text/template">
                            ## References
                        </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Github projects

                            * [FOSUserBundle](http://github.com/friendsOfSymfony/FOSUserBundle)
                            * [JMSSecurityExtraBundle](http://github.com/schmittjoh/JMSSecurityExtraBundle)
                            * [JMSSerializerBundle](http://github.com/schmittjoh/JMSSerializerBundle)
                            * [FOSRestBundle](http://github.com/friendsOfSymfony/FOSRestBundle)
                            * [NelmioApiDocBundle](http://github.com/nelmio/NelmioApiDocBundle)
                            * [StofDoctrineExtensionBundle](http://github.com/stof/StofDoctrineExtensionBundle)
                            * [KnpMenuBundle](http://github.com/knplabs/KnpMenuBundle)
                            * [LiipImagineBundle](http://github.com/liip/LiipImagineBundle)
                    </script>
                    </section>

                    <section data-markdown>
                        <script type="text/template">
                            ## Resources

                            * [Standard Edition bundles](http://symfony.com/doc/current/bundles/index.html)
                            * [Bundle cookbooks](http://symfony.com/doc/current/cookbook/bundles/index.html)
                            * [#symfony IRC](irc://freenode/#symfony)
                            * [http://knpbundles.com](http://knpbundles.com)
                            * [FOS github organization](http://friendsofsymfony.github.com/)
                        </script>
                    </section>

                </section>
            </div>
        </div>
        <script type="text/javascript" src="js/sfcon2k13/head.min.js"></script>
        <script type="text/javascript" src="js/sfcon2k13/reveal.min.js"></script>
        <script type="text/javascript">
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                theme: Reveal.getQueryHash().theme,
                transition: Reveal.getQueryHash().transition || 'concave',

                // Optional libraries used to extend on reveal.js
                dependencies: [
                    { src: 'js/sfcon2k13/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'js/sfcon2k13/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'js/sfcon2k13/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'js/sfcon2k13/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'js/sfcon2k13/pageNumbers.js' },
                ]
            });
        </script>
    </body>
</html>
