h1.title {
    font-size: 2.5em !important;
}

.reveal table{
    border-collapse: collapse;
}
.reveal table th{
    border: 2px solid black;
    padding: 4px;
    font-weight: bold;
}
.reveal table td{
    border: 2px solid black;
    padding: 4px;
}