<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>{{ page.title }}</title>
        <style type="text/css">
            html,body,p,div{margin:0;padding:0;}
            body{line-height:1;background:#ddd;font-family:Helvetica;}
            #content{overflow:hidden;border-radius:20px;width:600px;padding:0 15px 15px;margin:15px auto;background:#fff;}
            h1,h2,h3,h4,h5{font-family:Georgia;color:#a0b0b0;}
            p{padding:0 0 10px 0;line-height: 20px;letter-spacing:1px;color:#343434}
            li{margin:10px 0 10px}
        </style>
    </head>

    <body>

        <div id="content">
            {{ content }}
        </div>

    </body>

</html>
